@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

.hamburger,
.close {
  border: none;
  cursor: pointer;
  /* position absolute position the icons relative to the body because they have no position relative parents*/
  position: absolute;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  background: transparent;

  img {
    width: 120%;
    height: 120%;
  }
}

.navbar {
  position: absolute;
  /* a higher z-index put navbar above hamburger */
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* basic menu styling*/
  list-style: none;
  background: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  /* animate slide up/down */
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}

/* :target is called when its anchor id #navbar is called by clicking on the hamburger which has href="#navbar" */

.navbar:target {
  /* show navbar */
  transform: translateY(0);
}

.navbar a {
  color: white;
}

#js {
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 50px;
}

main {
  padding: 50px;
}

.banner {
  position: relative;
  /*min-height: 140vh; */
  min-height: 100vh;
  background-image: url("../resources/gabi_2.JPG");

  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 3em;
    color: $touch_color;
    line-height: 1.5em;
    text-shadow: 0 5px 20px rgba(0, 0, 0, 1);
  }
}

.btn {
  position: relative;
  background: $touch_color;
  display: inline-block;
  color: $bright_text_color;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.7s;

  .logo {
    color: $bright_menus_color;
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
  }

  ul {
    position: relative;
    display: flex;

    li {
      position: relative;
      list-style: none;

      a {
        position: relative;
        display: inline-block;
        margin: 0 15px;
        color: $bright_menus_color;
        text-decoration: none;
        font-weight: 700;
        font-size: 30px;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

/* State sticky */
header.sticky {
  background: $bright_menus_color;
  padding: 20px 100px;
  box-shadow: $shadow;

  .logo {
    color: $dark_menus_color;
  }

  ul li a {
    color: $dark_menus_color;

    &:hover {
      opacity: 0.7;
    }
  }
}

footer-basic {
  padding: 40px 40px;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic-black {
  padding: 40px 40px;
  background-color: #242423;
  color: #929292;
}

.footer-basic ul,
.footer-basic-black ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li,
.footer-basic-black li {
  padding: 5px 15px;
  text-align: inherit;
  text-justify: none;
}

.footer-basic ul a,
.footer-basic-black ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover,
.footer-basic-black ul a:hover {
  opacity: 1;
}

.footer-basic .social,
.footer-basic-black .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a,
.footer-basic-black .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid $greyish_text_color;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover,
.footer-basic-black .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright,
.footer-basic-black .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  color: dimgray;
  margin-bottom: 0;
}

.about {
  font-size: 35px;
  background-color: $bright_menus_color;

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 12px;
    border: 0;
    box-shadow: $shadow;
  }

  h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

.programing {
  font-size: 35px;
  background-color: #242423;

  h4 {
    margin-top: 7vh;
    font-size: 35px;
    color: $greyish_text_color;
  }

  img {
    margin-top: 50px;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.8;
    box-shadow: $shadow;
    transition: transform 1s; /* Animation */
  }

  &:hover {
    transform: scale(1.015);
  }

  p {
    font-size: 35px;
    color: $greyish_text_color;
  }

  a {
    color: $touch_color;
  }
}

.color-with-marker {
  list-style-position: inside;

  li {
    color: $greyish_text_color;
    font-family: "Cabin", sans-serif;
    opacity: 0.6;
  }
}

.column-list {
  color: $greyish_text_color;
  font-family: "Cabin", sans-serif;
  opacity: 0.6;
  column-count: 2;
  list-style-type: none;
}

.parallax_gabi {
  background-image: url("../resources/gabi.JPG");

  min-height: 80vh;
  max-width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.8;

  padding: 40px;
}

.parallax_chess {
  @include parallax_mixin("../resources/chess.png");
}

.parallax_visual_art {
  @include parallax_mixin("../resources/street_art.JPG");
}

.parallax_movies {
  @include parallax_mixin("../resources/tea.JPG");
}

.parallax_photography {
  @include parallax_mixin("../resources/fire.JPG");
}

.parallax_photography_2 {
  @include parallax_mixin("../resources/banana.JPG");
}

.parallax_photography_3 {
  @include parallax_mixin("../resources/wojtek_2.JPG");
}

.parallax_photography_4 {
  @include parallax_mixin("../resources/time.JPG");
}

.parallax_photography_5 {
  @include parallax_mixin("../resources/bomb.JPG");
}

.parallax_photography_6 {
  @include parallax_mixin("../resources/waterfall.JPG");
}

.parallax_photography_7 {
  @include parallax_mixin("../resources/alaram.JPG");
}

.parallax_photography_8 {
  @include parallax_mixin("../resources/shoes.JPG");
}

.bragging {
  font-size: 35px;
  background-color: #242423;

  h4 {
    margin-top: 7vh;
    font-size: 35px;
    color: $greyish_text_color;
  }

  h5 {
    font-size: 30px;
    color: $greyish_text_color;
    text-align: center;
  }

  p {
    font-size: 35px;
    color: $greyish_text_color;
  }

  a {
    text-decoration: none;
    color: $touch_color;
  }

  hr {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 12px;
    border: 0;
    box-shadow: $shadow;
  }

  section {
    padding: 0;
    display: flex;
  }

  img {
    width: 100%;
    height: 100%;
    align-self: center;
    box-shadow: $shadow;
  }

  section article {
    flex: 2;
  }

  .container {
    flex: 1;
    position: relative;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;

    &:hover .overlay {
      opacity: 0.4;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.8s ease;
    background-color: #fff;
  }

  .text {
    color: black;
    font-size: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.math {
  font-size: 35px;
  background-color: #242423;

  h4 {
    margin-top: 7vh;
    font-size: 35px;
    color: $greyish_text_color;
  }

  img {
    margin-top: 50px;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.8;
    box-shadow: $shadow;
    transition: transform 1s; /* Animation */
  }

  &:hover {
    transform: scale(1.015);
  }

  p {
    font-size: 35px;
    color: $greyish_text_color;
  }

  a {
    color: $touch_color;
  }
}

@media screen and (max-width: 900px) {
  p {
    font-size: 5vw;
  }

  .programing p,
  .bragging p {
    font-size: 5vw;
  }

  .programing ul li {
    font-size: 5vw;
  }

  h4 {
    font-size: 8vw;
  }

  header,
  header.sticky {
    padding: 20px;
    z-index: 1000;
  }

  header ul li a {
    color: #111;
    font-size: 30px;
    margin: 10px;
  }

  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 20px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 3px solid rgba(0, 0, 0, 0.2);
  }

  .menu.active {
    left: 0;
  }

  .toggle {
    width: 40px;
    height: 40px;
    background: url("../resources/menu.png") no-repeat center;
    background-size: 35px;
    cursor: pointer;
  }

  .toggle.active {
    background: url("../resources/close.png") no-repeat center;
    background-size: 30px;
    cursor: pointer;
  }

  header.sticky .toggle {
    filter: invert(1);
  }

  header.sticky .toggle.active {
    filter: invert(1);
  }

  .parallax_gabi {
    background-attachment: scroll;
  }

  .parallax_chess {
    background-attachment: scroll;
  }

  .parallax_visual_art {
    background-attachment: scroll;
  }

  .parallax_movies {
    background-attachment: scroll;
  }

  .parallax_photography {
    background-attachment: scroll;
  }

  .parallax_photography_2 {
    background-attachment: scroll;
  }

  .parallax_photography_3 {
    background-attachment: scroll;
  }

  .parallax_photography_4 {
    background-attachment: scroll;
  }

  .parallax_photography_5 {
    background-attachment: scroll;
  }

  .parallax_photography_6 {
    background-attachment: scroll;
  }

  .parallax_photography_7 {
    background-attachment: scroll;
  }

  .parallax_photography_8 {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 1500px) {
  .bragging p {
    font-size: 3vw;
  }

  .bragging .container {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .bragging section {
    display: block;
  }

  .bragging .container {
    margin: 20px 0 0 0;
  }

  .bragging .container:hover .overlay {
    opacity: 0;
  }
}
