{% extends 'accounts/main.html' %}

{% block content %}

    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Transfer</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Receiver Name</th>
                        <th>Account Number</th>
                        <th>Title</th>
                        <th>Amount</th>
                    </tr>

                    {% for i in transfers %}
                        <tr>
                            <td>{{ i.receiver_name }}</td>
                            <td class="account_number_class">{{ i.account_number }}</td>
                            <td>{{ i.title }}</td>
                            <td>{{ i.amount }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>

{% endblock content %}