{%  extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Transfers</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Receiver Name</th>
                    <th>Account Number</th>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>

                {% for i in transfers %}
                <tr>
                    <td>{{i.customer}}</td>
                    <td>{{i.receiver_name}}</td>
                    <td class="account_number_class">{{i.account_number}}</td>
                    <td>{{i.title}}</td>
                    <td>{{i.amount}}</td>
                    <td>{{i.date_created}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

</div>

{% endblock content %}